{
  "root": true,
  "env": {
    "node": true
  },
  "extends": ["@makerx/eslint-config"],

    "parserOptions": {
      "project": true,
      "tsconfigRootDir": "."
    },
  "rules": {
    "@typescript-eslint/no-for-in-array": "error",
    "eqeqeq": "error",

    "@typescript-eslint/no-unused-vars": [
      "warn",
      { "ignoreRestSiblings": true, "argsIgnorePattern": "(^_)|(node)", "destructuredArrayIgnorePattern": "^_" }
    ]
  },
  "overrides": [
    {
      "files": ["*.algo.ts"],
      "rules": {
        "@typescript-eslint/explicit-member-accessibility": [
          "error",
          {
            "accessibility": "off",
            "overrides": {
              "methods": "explicit"
            }
          }
        ]
      }
    }
  ]
}
