{
  "root": true,
  "env": {
    "node": true
  },
  "extends": ["@makerx/eslint-config"],

    "parserOptions": {
      "project": true,
      "tsconfigRootDir": "."
    },
  "rules": {
    "@typescript-eslint/no-for-in-array": "error",
    "eqeqeq": "error"
  }
}
