name: Pull Request

on:
  pull_request:
    branches:
      - main
      - alpha

permissions:
  contents: read
  checks: write

jobs:
  ci-all:
    name: "Build and test all packages"
    uses: ./.github/workflows/ci-all.yml
    with:
      run-commit-lint: true

  check-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22.x

      - name: Install dependencies
        run: npm ci --ignore-scripts

      - name: Install docs dependencies
        run: npm ci --prefix docs

      - name: Verify documentation builds
        run: npm run docs:build
